
    body {
        margin: 0;
        background-image: url("../img/Background-Kids.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    #home {
      width: 750px;
      height: 750px;
      background-size: 750px 750px;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .hasseP{
        font-size: 26pt;
        margin: 20px auto 20px auto;
        padding: 0;
        justify-content: center;
        display: flex;
    }

    #diffList {
        width: 650px;
        margin: 20px auto 20px auto;
        height: 100px;
      /*  border: 3px solid greenyellow; */
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    #btnHard {
        background-color: #F44336;
    }
    #btnEasy {
        background-color: #03A9F4;
    }
    #diffList button:hover {
        background-color: black;
    }
    #themeList button {
        background-color: #607D8B;
    }
    #themeList button:hover {
        background-color: black;
    }
    #startList button {
        background-color: #4CAF50;
    }
    #startList button:hover {
        background-color: black;
    }
    #themeList{
        width: 700px;
        margin: 20px auto 20px auto;
        height: 100px;
      /*  border: 3px solid greenyellow; */
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;

    }
    #startList {
        width: 650px;
        margin: 20px auto 20px auto;
        height: 100px;
       /* border: 3px solid greenyellow; */
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    #highscoreList {
        width: 200px;
        margin: auto;
        height: 100px;
        /*border: 3px solid blue; */
        justify-content: center;
        text-align: center;
        font-size: 20pt;
        padding: 0;
        display: block;
    }
    #highscore {
        white-space: pre;
    }


    #menuList ul {
        list-style: none;
    }
    #menuList {
        width: 750px;
        height: 750px;
       /* border: 3px solid greenyellow; */
        background-position: center center;
        list-style: none;
        padding: 0;
        margin: auto;
    }
    #home {
        display: none;
    }

     button {
      text-align: center;
      justify-content: center;
      padding: 20px;
      background-color: green;
      color: white;
      border: none;
      border-radius: 10px;
      margin: 20px 15px 60px 15px;
      height: 60px;
      font-size: 12pt;
      width: 120px;



    }
    button:hover {
      background-color: orange;
    }

    button:disabled {
      background-color: grey;
    }

    p {
        font-family: Helvetica, serif;
      font-weight: bold;
      width: 250px;
      margin: 18px 0 5px 8px;
      float: left;
    }

    .game {
      text-align: center;
    }

    #gameScore{
        float: right;
        text-align: left;
        display: block;
        width: 27%;
        font-size: 20px;
    }
    #highScore{
        white-space: pre;
    }
    #allTimeHigh{

    }

