
    #home {
      width: 750px;
      height: 750px;
      background-image: url('../img/hasselsnokenhassepngtest.jpg');
      background-size: 750px 750px;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 0;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }
    #diffList {
        display: flex;
    }
    #themeList{
        display: flex;
    }
    #startList {
        display: flex;
    }

    #menuList ul {
        list-style: none;
        justify-content: center;
        padding: 40px;
        top: 300px;

    }

     button {
      background-color: green;
      color: white;
      border: none;
      margin: 10px;
      height: 30px;
      font-size: 12pt;
      width: 90px;

    }
    button:hover {
      background-color: orange;
    }

    button:disabled {
      background-color: grey;
    }

    p {
      font-family: Helvetica;
      font-weight: bold;
      width: 250px;
      margin: 18px 0 5px 8px;
      float: left;
    }

    .game {
      text-align: center;
    }

    #gamescore{
        float: right;
        text-align: left;
        display: block;
        width: 27%;
        font-size: 20px;
    }
    #highscore{
        float: right;

    }

