body {
    background-color: lightgrey;
}

header{
    font-family: Arial;
    font-size: 20px;

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}
#gamescore{
    font-family: Arial;
    font-size: 24px;
}
#canvas {
    display: block;
    margin: 0 auto;
    border: black solid 2px;
}
